.jumbotron {
  padding-top: 6rem;
  background-color: #8999a0;
}

#projects {
  background-color: #273036;
}
section {
  padding-top: 5rem;
}
.card-text a {
  color: black;
}
.card-text a:hover {
  color: blue;
}
.col-md-5 {
  font-size: 20px;
}
.col-md-5 a {
  color: black;
}
.col-md-5 a:hover {
  color: blue;
}
